body {
    font-family: Helvetica;
    
}
img {
   width:345px;
   border-radius:100%;
   
}

body {
background-image:url("http://www.disneyclips.com/imagesnewb/imageslwrakr01/mickey_basketball3.gif ");
background-color: orange;
}